<header class="main-header">
  <div class="header-content">
    <div class="logo">
      <img src="assets/ARtic-logo.png" class="logo-image"> <span>ARtic</span>
    </div>
    <nav class="main-nav">
      <a routerLink="/">Início</a>
      <a routerLink="/aluguel">Aluguel</a>
      <a routerLink="/compra">Compra</a>
      <a routerLink="/sobre">Sobre</a>
      <a routerLink="/contato">Contato</a>
    </nav>
<!--    <div class="auth-buttons">
      <button class="btn btn-login" routerLink="/login">Login</button>
      <button class="btn btn-register" routerLink="/cadastro">Cadastrar</button>
    </div> -->
  </div>
</header>

<main class="main-content">
  <router-outlet></router-outlet> </main>

<footer class="main-footer">
  <div class="footer-grid">
    <div class="footer-section company-info">
      <div class="logo">
        <img src="assets/ARtic-logo.png" class="logo-image">
      </div>
      <p>Sua plataforma completa para aluguel e compra de veículos com qualidade e confiança. </p>
    </div>
    <div class="footer-section">
      <h3>Links Rápidos</h3>
      <ul>
        <li><a [routerLink]="['/aluguel']">Aluguel</a></li>
        <li><a [routerLink]="['/compra']">Compra</a></li>
        <li><a [routerLink]="['/sobre']">Sobre</a></li>
        <li><a [routerLink]="['/contato']">Contato</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Serviços</h3>
      <ul>
        <li><a href="https://policies.google.com/terms?hl=pt-BR" target="_blank">Termos de uso</a></li>
        <li><a href="https://policies.google.com/privacy?hl=pt-BR" target="_blank">Politica de privacidade</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Contato</h3>
      <p><i class="fas fa-phone"></i> (82) 99990-6795</p>
      <p><i class="fas fa-envelope"></i> contato&copy;gmail.com</p>
      <p><i class="fas fa-map-marker-alt"></i> Maceió, AL</p>

      <div class="social-icons">
        <a href="https://www.instagram.com/jhuze_victhor/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/jhuze-victhor-850b44215/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/JhuzeVicthor/ARtic" target="_blank"><i class="fab fa-github"></i> </a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 ARtic. Todos os direitos reservados.</p>
  </div>
</footer>
