<div class="container">
  <h2>Carros para Aluguel</h2>

  <div class="car-list">
    <div class="car-card" *ngFor="let carro of carrosAluguel">
      <img [src]="carro.urlImagem" alt="{{ carro.marca }} {{ carro.modelo }}">
      <div class="car-details">
        <h3>{{ carro.marca }} {{ carro.modelo }} ({{ carro.ano }})</h3>
        <p>Cor: {{ carro.cor }} | Placa: {{ carro.placa }}</p>
        <p>Preço Aluguel/Dia: {{ carro.precoAluguelPorDia | currency:'BRL':'symbol':'1.2-2' }}</p>
        <p>Disponível para Aluguel: {{ carro.disponivelParaAluguel ? 'Sim' : 'Não' }}</p>
      </div>
    </div>
  </div>
</div>
